<div class="card-holder">
    <div class="card">
        <h3>{{cardType}}</h3>

        <div class="itemList" cdkDropList id="{{listClassName}}" [cdkDropListData]="todos"
            (cdkDropListDropped)="onDrop($event)"
            [cdkDropListConnectedTo]="['backLogItems','inProgItems', 'inRevItems', 'completeItems']">
            <app-todo-item *ngFor="let todo of todos" [todo]="todo" (deleteTodo)="deleteTodo($event)">
            </app-todo-item>

        </div>
        <form class="form" #myform="ngForm">
            <label for="Todo Item">Add an Item</label>
            <input type="text" name="addItem" id="addItem" [(ngModel)]="addItem">
            <input type="button" value="Submit" class="btn" (click)="createTodo(addItem)">
        </form>

    </div>

</div>